/* Main Navbar styles */
#MainNavbar {
    background-color: #003366; /* Navy Blue - Primary Color */
    position: fixed; /* Keep it fixed at the top */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it’s above other content */
    height: 60px; /* Set a fixed height */
}

/* Navbar Item styles */
.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: #009688; /* Teal on hover */
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #00f7ff;
}