/* Main Navbar styles */
#MainNavbar {
    background-color: #003366; /* Navy Blue - Primary Color */
}

/* Navbar Item styles */
.navbar-nav {
    margin-left: auto; /* Ensure the nav items are right-aligned */
}

.navbar-brand {
    color: white; /* White for the brand name */
}

.navbar-brand:hover {
    color: #009688; /* Teal on hover */
}

.nav-item {
    margin-left: 20px; /* Space between nav items */
}

.nav-link {
    color: #ffffff; /* Set a color for links */
    text-decoration: none; /* Remove underline */
}

.nav-link:hover {
    color: #00f7ff; /* Light Teal on hover */
}

/* Dropdown Menu styles */
.dropdown-menu {
    left: auto; /* Ensure dropdown aligns properly */
    right: 0; /* Align dropdown to the right */
}
